In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('/Users/mac/Downloads/dataset.csv')
df

,ID,Age,Agency,Agency Type,Commision (in value),Destination,Distribution Channel,Duration,Gender,Net Sales,Product Name,Claim
0,45341,28,C2B,Airlines,28.13,SINGAPORE,Online,34,F,112.5,Silver Plan,1
1,12958,37,JZI,Airlines,12.95,PHILIPPINES,Online,53,F,37.0,Basic Plan,0
2,18233,27,EPX,Travel Agency,0.00,UNITED STATES,Online,28,NaN,13.0,Cancellation Plan,0
3,31742,36,EPX,Travel Agency,0.00,SAUDI ARABIA,Online,1,NaN,34.0,Cancellation Plan,0
4,14381,26,CWT,Travel Agency,23.76,THAILAND,Online,33,NaN,39.6,Rental Vehicle Excess Insurance,0
...,...,...,...,...,...,...,...,...,...,...,...,...
62283,36315,36,EPX,Travel Agency,0.00,HONG KONG,Online,17,NaN,28.0,2 way Comprehensive Plan,0
62284,2511,56,JZI,Airlines,9.10,AUSTRALIA,Online,9,F,26.0,Basic Plan,0
62285,16874,36,EPX,Travel Agency,0.00,ITALY,Online,216,NaN,20.0,2 way Comprehensive Plan,1
62286,14801,29,CWT,Travel Agency,11.88,AUSTRALIA,Online,37,NaN,19.8,Rental Vehicle Excess Insurance,1
62287,5550,44,EPX,Travel Agency,0.00,THAILAND,Online,70,NaN,20.0,Cancellation Plan,0

In [5]:
df = df[['Age', 'Gender', 'Claim']]
df

       Age Gender  Claim
0       28      F      1
1       37      F      0
2       27    NaN      0
3       36    NaN      0
4       26    NaN      0
...    ...    ...    ...
62283   36    NaN      0
62284   56      F      0
62285   36    NaN      1
62286   29    NaN      1
62287   44    NaN      0

[62288 rows x 3 columns]

In [6]:
df = df.dropna()
df #Now I HAVE A CLEANED DATASET

       Age Gender  Claim
0       28      F      1
1       37      F      0
7       45      M      0
8       32      M      1
9       59      F      0
...    ...    ...    ...
62269   22      M      1
62273   22      F      1
62276   27      F      1
62279   32      F      1
62284   56      F      0

[22713 rows x 3 columns]

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [8]:
df['SEX'] = le.fit_transform(df.Gender)
df = df.drop(['Gender'], axis=1)

/opt/anaconda3/envs/CV/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
df['age'] = df.Age/56
df = df.drop(['Age'], axis=1)
x = df[['SEX', 'age']]

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, df.Claim, test_size=0.2)

In [11]:
def sigmoid(x):
    return 1/(1+np.exp(-x))



def gradient_descent(age, sex, y, epoch):
    w1_curr = w2_curr = 1
    bias = 0
    lr = 0.05
    n = len(y)
    
    
    
    #
    
    
    for i in range(epoch):
        weighted_sum = w1_curr*age + w2_curr*sex + bias
        yp = sigmoid(weighted_sum)
        cost = (1/n) * sum([val**2 for val in (y-yp)])
        
        
        
        #now taking the derivatives
        w1d = -(2/n)*sum(w1_curr*(y-yp))
        w2d = -(2/n)*sum(w2_curr*(y-yp))
        bd = -(2/n)*sum(y-yp)
        #bd = (1/n)*sum([k for k in (yp-y)])
        
        
        #alternating the coefficients and the bias term
        
        w1_curr = w1_curr - lr*w1d
        w2_curr = w2_curr - lr*w2d
        bias = bias - lr*bd
        

        
        print(f'epoch:{i}, w1:{w1_curr}, w2:{w2_curr}, bias:{bias}, loss:{cost}')

In [12]:
gradient_descent(x_train['age'], x_train['SEX'], y_train, 100)#so we have the gradient descent and now lets implement this as a neural network.

epoch:0, w1:0.961755496294012, w2:0.961755496294012, bias:-0.03824450370598794, loss:0.40366350076846425
epoch:1, w1:0.9263066554777574, w2:0.9263066554777574, bias:-0.07510297860200392, loss:0.39350605191449856
epoch:2, w1:0.8934326323719881, w2:0.8934326323719881, bias:-0.1105923307634787, loss:0.3837597098999255
epoch:3, w1:0.8629285787533939, w2:0.8629285787533939, bias:-0.1447348643058337, loss:0.37445561330716154
epoch:4, w1:0.8346049720944837, w2:0.8346049720944837, bias:-0.17755751887572596, loss:0.36561501050791595
epoch:5, w1:0.8082868803378829, w2:0.8082868803378829, bias:-0.2090911097798792, loss:0.3572501142461799
epoch:6, w1:0.7838131781912276, w2:0.7838131781912276, bias:-0.23936959473614272, loss:0.3493651491049085
epoch:7, w1:0.7610357314207086, w2:0.7610357314207086, bias:-0.26842938526311777, loss:0.3419574975170113
epoch:8, w1:0.7398185652742696, w2:0.7398185652742696, bias:-0.29630871506387596, loss:0.3350188659221803
epoch:9, w1:0.7200370318523572, w2:0.7200370318523572, bias:-0.3230470727510468, loss:0.3285364108934427
epoch:10, w1:0.7015769893205321, w2:0.7015769893205321, bias:-0.34868470208843566, loss:0.32249378300964315
epoch:11, w1:0.6843340036286852, w2:0.6843340036286852, bias:-0.3732621696427044, loss:0.31687206226297115
epoch:12, w1:0.6682125811044393, w2:0.6682125811044393, bias:-0.3968199973098396, loss:0.31165057199747004
epoch:13, w1:0.6531254380936177, w2:0.6531254380936177, bias:-0.41939835551118515, loss:0.30680756851378876
epoch:14, w1:0.6389928118372967, w2:0.6389928118372967, bias:-0.4410368118199337, loss:0.302320810708141
epoch:15, w1:0.6257418150613677, w2:0.6257418150613677, bias:-0.4617741292520791, loss:0.29816801882914534
epoch:16, w1:0.6133058353313968, w2:0.6133058353313968, bias:-0.48164810831283833, loss:0.29432723412115763
epoch:17, w1:0.6016239790870517, w2:0.6016239790870517, bias:-0.5006954670225974, loss:0.29077709227588455
epoch:18, w1:0.5906405593940407, w2:0.5906405593940407, bias:-0.5189517534652993, loss:0.28749702367581487
epoch:19, w1:0.5803046258059369, w2:0.5803046258059369, bias:-0.5364512858352192, loss:0.28446739275594546
epoch:20, w1:0.570569534278337, w2:0.570569534278337, bias:-0.5532271154507071, loss:0.2816695877259725
epoch:21, w1:0.5613925547886987, w2:0.5613925547886987, bias:-0.5693110087157843, loss:0.279086070595035
epoch:22, w1:0.5527345141544284, w2:0.5527345141544284, bias:-0.5847334445147924, loss:0.27670039607942026
epoch:23, w1:0.54455947148057, w2:0.54455947148057, bias:-0.5995236240033387, loss:0.27449720664783184
epoch:24, w1:0.536834423682144, w2:0.536834423682144, bias:-0.6137094901997762, loss:0.27246220972912555
epoch:25, w1:0.529529038594325, w2:0.529529038594325, bias:-0.627317755179714, loss:0.2705821420071107
epoch:26, w1:0.5226154132896209, w2:0.5226154132896209, bias:-0.6403739330298595, loss:0.26884472476597365
epoch:27, w1:0.5160678553518973, w2:0.5160678553518973, bias:-0.6529023770275405, loss:0.2672386134304612
epoch:28, w1:0.5098626850022817, w2:0.5098626850022817, bias:-0.6649263197809301, loss:0.26575334375600446
epoch:29, w1:0.5039780561239791, w2:0.5039780561239791, bias:-0.6764679152955665, loss:0.2643792765549861
epoch:30, w1:0.49839379438612397, w2:0.49839379438612397, bias:-0.6875482821290009, loss:0.26310754238072637
epoch:31, w1:0.4930912508169398, w2:0.4930912508169398, bias:-0.6981875469611705, loss:0.2619299872161815
epoch:32, w1:0.48805316932080695, w2:0.48805316932080695, bias:-0.7084048880471983, loss:0.26083911991601444
epoch:33, w1:0.4832635667705843, w2:0.4832635667705843, bias:-0.7182185781352844, loss:0.2598280619156789
epoch:34, w1:0.4787076244345431, w2:0.4787076244345431, bias:-0.7276460265284795, loss:0.2588904995378945
epoch:35, w1:0.47437158961604975, w2:0.47437158961604975, bias:-0.7367038200483034, loss:0.2580206390868898
epoch:36, w1:0.47024268649351947, w2:0.47024268649351947, bias:-0.7454077627230161, loss:0.25721316481396767
epoch:37, w1:0.466309035248314, w2:0.466309035248314, bias:-0.7537729140761139, loss:0.25646319975888576
epoch:38, w1:0.46255957865949915, w2:0.46255957865949915, bias:-0.7618136259332586, loss:0.2557662694143365
epoch:39, w1:0.4589840154271948, w2:0.4589840154271948, bias:-0.7695435777000488, loss:0.2551182681197327
epoch:40, w1:0.45557273956116395, w2:0.45557273956116395, bias:-0.7769758100902244, loss:0.2545154280634332
epoch:41, w1:0.45231678523888624, w2:0.45231678523888624, bias:-0.7841227573053146, loss:0.2539542907545742
epoch:42, w1:0.4492077765982259, w2:0.4492077765982259, bias:-0.7909962776833352, loss:0.25343168081659617
epoch:43, w1:0.4462378819845183, w2:0.4462378819845183, bias:-0.7976076828468839, loss:0.25294468194976766
epoch:44, w1:0.4433997722210091, w2:0.4433997722210091, bias:-0.8039677653904981, loss:0.25249061491082087
epoch:45, w1:0.440686582515627, w2:0.440686582515627, bias:-0.8100868251540873, loss:0.25206701736036996
epoch:46, w1:0.43809187765653274, w2:0.43809187765653274, bias:-0.8159746941340831, loss:0.2516716254347696
epoch:47, w1:0.43560962018423316, w2:0.43560962018423316, bias:-0.8216407600871379, loss:0.2513023569052025
epoch:48, w1:0.4332341412596852, w2:0.4332341412596852, bias:-0.8270939888830112, loss:0.2509572957946219
epoch:49, w1:0.4309601139761331, w2:0.4309601139761331, bias:-0.8323429456640722, loss:0.25063467833118747
epoch:50, w1:0.42878252888776786, w2:0.42878252888776786, bias:-0.8373958148687749, loss:0.2503328801251934
epoch:51, w1:0.4266966715509737, w2:0.4266966715509737, bias:-0.8422604191757757, loss:0.2500504044642318
epoch:52, w1:0.4246981018942348, w2:0.4246981018942348, bias:-0.8469442374241684, loss:0.24978587162978846
epoch:53, w1:0.42278263525094967, w2:0.42278263525094967, bias:-0.8514544215637767, loss:0.2495380091457812
epoch:54, w1:0.420946324905683, w2:0.420946324905683, bias:-0.855797812687626, loss:0.2493056428770439
epoch:55, w1:0.4191854460189717, w2:0.4191854460189717, bias:-0.8599809561967324, loss:0.24908768890231206
epoch:56, w1:0.41749648080887614, w2:0.41749648080887614, bias:-0.8640101161452367, loss:0.2488831460930422
epoch:57, w1:0.4158761048791972, w2:0.4158761048791972, bias:-0.8678912888117453, loss:0.2486910893350793
epoch:58, w1:0.4143211745947981, w2:0.4143211745947981, bias:-0.871630215540538, loss:0.24851066333573996
epoch:59, w1:0.4128287154139214, w2:0.4128287154139214, bias:-0.8752323948941189, loss:0.24834107696411703
epoch:60, w1:0.4113959110958768, w2:0.4113959110958768, bias:-0.8787030941564219, loss:0.24818159807691725
epoch:61, w1:0.4100200937101068, w2:0.4100200937101068, bias:-0.8820473602238827, loss:0.24803154878644992
epoch:62, w1:0.4086987343795002, w2:0.4086987343795002, bias:-0.8852700299195313, loss:0.24789030113139698
epoch:63, w1:0.4074294346970043, w2:0.4074294346970043, bias:-0.8883757397632944, loss:0.24775727311457516
epoch:64, w1:0.40620991876014945, w2:0.40620991876014945, bias:-0.8913689352297973, loss:0.24763192507492227
epoch:65, w1:0.4050380257731219, w2:0.4050380257731219, bias:-0.8942538795231432, loss:0.2475137563643417
epoch:66, w1:0.403911703170544, w2:0.403911703170544, bias:-0.8970346618964229, loss:0.24740230230222077
epoch:67, w1:0.402829000221209, w2:0.402829000221209, bias:-0.8997152055420667, loss:0.24729713138351814
epoch:68, w1:0.4017880620737112, w2:0.4017880620737112, bias:-0.902299275077592, loss:0.24719784271776976
epoch:69, w1:0.40078712420924845, w2:0.40078712420924845, bias:-0.9047904836498346, loss:0.24710406367924337
epoch:70, w1:0.3998245072698973, w2:0.3998245072698973, bias:-0.9071922996793549, loss:0.24701544774957318
epoch:71, w1:0.3988986122333949, w2:0.3988986122333949, bias:-0.9095080532654087, loss:0.24693167253631432
epoch:72, w1:0.39800791590794143, w2:0.39800791590794143, bias:-0.9117409422706287, loss:0.24685243795226894
epoch:73, w1:0.3971509667227859, w2:0.3971509667227859, bias:-0.9138940381034104, loss:0.2467774645417436
epoch:74, w1:0.39632638079239646, w2:0.39632638079239646, bias:-0.9159702912149004, loss:0.24670649194102723
epoch:75, w1:0.3955328382338724, w2:0.3955328382338724, bias:-0.9179725363264609, loss:0.2466392774619803
epoch:76, w1:0.3947690797189379, w2:0.3947690797189379, bias:-0.9199034974025244, loss:0.24657559478793398
epoch:77, w1:0.39403390324339027, w2:0.39403390324339027, bias:-0.9217657923828481, loss:0.24651523277286397
epoch:78, w1:0.39332616109827184, w2:0.39332616109827184, bias:-0.9235619376873329, loss:0.24645799433464197
epoch:79, w1:0.39264475702830287, w2:0.39264475702830287, bias:-0.9252943525057785, loss:0.24640369543509322
epoch:80, w1:0.39198864356427465, w2:0.39198864356427465, bias:-0.926965362884203, loss:0.24635216413911318
epoch:81, w1:0.3913568195171567, w2:0.3913568195171567, bias:-0.9285772056186582, loss:0.24630323974675428
epoch:82, w1:0.3907483276226375, w2:0.3907483276226375, bias:-0.9301320319668228, loss:0.24625677199196247
epoch:83, w1:0.3901622523257017, w2:0.3901622523257017, bias:-0.93163191118704, loss:0.2462126203027509
epoch:84, w1:0.38959771769564955, w2:0.38959771769564955, bias:-0.9330788339138979, loss:0.24617065311753086
epoch:85, w1:0.38905388546270603, w2:0.38905388546270603, bias:-0.934474715378913, loss:0.24613074725337117
epoch:86, w1:0.3885299531680387, w2:0.3885299531680387, bias:-0.9358213984843761, loss:0.2460927873218747
epoch:87, w1:0.388025152419625, w2:0.388025152419625, bias:-0.9371206567379485, loss:0.24605666518860947
epoch:88, w1:0.3875387472469755, w2:0.3875387472469755, bias:-0.9383741970551582, loss:0.2460222794731451
epoch:89, w1:0.38707003254824035, w2:0.38707003254824035, bias:-0.9395836624365294, loss:0.24598953508592988
epoch:90, w1:0.38661833262370415, w2:0.38661833262370415, bias:-0.940750634525695, loss:0.2459583427994038
epoch:91, w1:0.386182999790114, w2:0.386182999790114, bias:-0.9418766360544788, loss:0.2459286188507659
epoch:92, w1:0.38576341307068807, w2:0.38576341307068807, bias:-0.9429631331805927, loss:0.245900284573463
epoch:93, w1:0.385358976956024, w2:0.385358976956024, bias:-0.9440115377232752, loss:0.2458732660556883
epoch:94, w1:0.3849691202314682, w2:0.3849691202314682, bias:-0.9450232093019038, loss:0.24584749382349758
epoch:95, w1:0.3845932948668209, w2:0.3845932948668209, bias:-0.9459994573823245, loss:0.24582290254664882
epoch:96, w1:0.38423097496454384, w2:0.38423097496454384, bias:-0.9469415432353879, loss:0.24579943076558924
epoch:97, w1:0.3838816557629022, w2:0.3838816557629022, bias:-0.9478506818119274, loss:0.24577702063786447
epoch:98, w1:0.38354485269072247, w2:0.38354485269072247, bias:-0.9487280435381874, loss:0.24575561770243964
epoch:99, w1:0.38322010047067334, w2:0.38322010047067334, bias:-0.9495747560354895, loss:0.2457351706606837

In [25]:
class LogisticRegression:
    def __init__(self):
        self.w1 = 1 
        self.w2 = 1
        self.bias = 0
        
    def fit(self, X, y, epochs, loss_thresold):
        self.w1, self.w2, self.bias = self.gradient_descent(X['age'],X['SEX'],y, epochs, loss_thresold)
        print(f"Final weights and bias: w1: {self.w1}, w2: {self.w2}, bias: {self.bias}")
        
    def predict(self, X_test):
        weighted_sum = self.w1*X_test['age'] + self.w2*X_test['SE'] + self.bias
        return sigmoid_numpy(weighted_sum)

    def sigmoid(x):
        return 1/(1+np.exp(-x))
    
    def gradient_descent(self, age,affordability, y_true, epochs, loss_thresold):
        w1 = w2 = 1
        bias = 0
        rate = 0.5
        n = len(age)
        for i in range(epochs):
            weighted_sum = w1 * age + w2 * affordability + bias
            y_predicted = sigmoid (weighted_sum)
            loss = (1/n) * sum([val**2 for val in (y_true-y_predicted)])            
            w1d = (1/n)*np.dot(np.transpose(age),(y_predicted-y_true)) 
            w2d = (1/n)*np.dot(np.transpose(affordability),(y_predicted-y_true)) 

            bias_d = np.mean(y_predicted-y_true)
            w1 = w1 - rate * w1d
            w2 = w2 - rate * w2d
            bias = bias - rate * bias_d
            
            if i%50==0:
                print (f'Epoch:{i}, w1:{w1}, w2:{w2}, bias:{bias}, loss:{loss}')
            
            if loss<=loss_thresold:
                print (f'Epoch:{i}, w1:{w1}, w2:{w2}, bias:{bias}, loss:{loss}')
                break

        return w1, w2, bias

In [27]:
customModel = LogisticRegression()
customModel.fit(x_train, y_train, epochs=5, loss_thresold=0.4631)

Epoch:0, w1:0.8334307160223694, w2:0.8768905577536672, bias:-0.18978393801981724, loss:0.4022204978897615
Epoch:0, w1:0.8334307160223694, w2:0.8768905577536672, bias:-0.18978393801981724, loss:0.4022204978897615
Final weights and bias: w1: 0.8334307160223694, w2: 0.8768905577536672, bias: -0.18978393801981724